/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

.wrap {
  width: 1040px;
}

.donate-today {
	display: block;
	position: absolute;
	right: 0;
}

.footer-donate {
	float: right;
}

.donate-decs-btn {
	max-width: 49% !important;
}

.donation-usage {
	margin-top: 0px;
}

.title_bg {
	h2 {
		font-size: 22px;
	}
}
