/* ------------------------------------------------------------------------ */
/* CSS Reset v2.0 by http://meyerweb.com/eric/tools/css/reset/ 
/* ------------------------------------------------------------------------ */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ------------------------------------------------------------------------ */
/* Basic WordPress WYSIWYG Editor Styles
/* ------------------------------------------------------------------------ */

/* Images */
.alignleft {
	float: left;
	margin-right:20px;
	margin-bottom:20px;
}
.alignright {
	float: right;
	margin-left:20px;
	margin-bottom:20px;
}
.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.wp-caption {
	max-width: 100%; /* Keep wide captions from overflowing their container. */
	padding: 0px;
}
.wp-caption .wp-caption-text,
.gallery-caption,
.entry-caption {
	color: #888888;
}
img.wp-smiley,
.rsswidget img {
}

blockquote.left {
	margin-right: 20px;
	text-align: right;
	margin-left: 0;
	width: 33%;
	float: left;
}

blockquote.right {
	margin-left: 20px;
	text-align: left;
	margin-right: 0;
	width: 33%;
	float: right;
}

.size-full {}
.size-large {}
.size-medium {}
.size-thumbnail {}

.sticky {}
.bypostauthor {}

/* edits - NT */
.page-id-617 #title {
	display: none;
}

/* ------------------------------------------------------------------------ */
/* EOF
/* ------------------------------------------------------------------------ */